.card4 {
    display: block!important;
    top: 0px!important;
    position: relative!important;
    max-width: 262px!important;
    background-color: rgb(243, 243, 243)!important;
    border-radius: 4px!important;
    padding: 32px 24px!important;
    margin: 12px!important;
    text-decoration: none!important;
    overflow: hidden!important;
    border: 1px solid #ccc!important;
    background-image: linear-gradient(-45deg, #f1e3de 1%, #eeff00 100%)!important;
    margin-left: 16px!important;
    height: 220px;
}

.card4add {
    display: block!important;
    top: 0px!important;
    position: relative!important;
    background-color: rgb(243, 243, 243)!important;
    border-radius: 4px!important;
    padding: 32px 24px!important;
    margin: 12px!important;
    width: 100%!important;
    text-decoration: none!important;
    overflow: hidden!important;
    border: 1px solid #ccc!important;
    background-image: linear-gradient(-45deg, #f1e3de 1%, #eeff00 100%)!important;
}

.card4:hover {
    border: 1px solid #e950ee!important;
}