.cell {
    color: #dfdfdf !important;
    border-right: 1px solid #1F2739;
    border-bottom: 1px solid #1F2739;
    font-weight: normal;
    -webkit-box-shadow: 0 2px 2px -2px #0e1119;
    -moz-box-shadow: 0 2px 2px -2px #0E1119;
    box-shadow: 0 2px 2px -2px #0e1119;
    font-family: 'Open Sans', sans-serif !important;
}

.cell:hover {
    background-color: #FFF842;
    color: #403E10 !important;
    font-weight: bold;
    box-shadow: #7F7C21 -1px 1px, #7F7C21 -2px 2px, #7F7C21 -3px 3px, #7F7C21 -4px 4px, #7F7C21 -5px 5px, #7F7C21 -6px 6px;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s !important;
    transition-duration: 0.4s !important;
    transition-property: all !important;
    transition-timing-function: line !important;
    border-right: unset;
    border-bottom: unset;
}

.row1 {
    background-color: #323C50;
}

.row1:hover{
    background-color: #464A52 !important;
}

.row0 {
    background-color: #2C3446;
}

.row0:hover{
    background-color: #464A52 !important;
}

.bgclor {
    background-color: #1F2739;
    height: 100vh;
}

.cellend {
    border-right: 1px solid #1F2739;
    border-bottom: 1px solid #1F2739;
    text-align: center;
}

.important {
    color: peachpuff !important
}

.containerHeader{
    background-color: #181A20;
    padding: 15px 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.content{
    display: flex;
    flex-direction: row;

}
.btn{
    padding: 6px 15px;
    height: 32px;
    cursor: pointer;
    color: black !important;
    background-color: #FCD535;
    border-radius: 5px;
    
}

.btn:hover{
    background-color:#FAD943 !important
}


.logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}